{% extends 'main.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <br/>
            <div class="col-md-6 col-md-offset-3">
                <!-- well container -->
                <div class="well">

                    <!-- breadcrumb -->
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                            </ol>
                        </div>
                    </div>
                    <!-- end of breadcrumb-->

                    <!-- main form -->
                    <div class="row">
                        <div class="col-md-12">
                            <h4>A Litle Bit About Me</h4>
                            <p>
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <h4>Skills</h4>
                            <p>
                               Languages: PHP, Python, Java, Javascript(Jquery), Html/CSS<br/>
                               Databases: Mysql, Mongodb, Oracle<br/>
                               OS: RedHat, CentOS, Debian<br/>
                               and other
                            </p>
                            <p>
                                <h4>Certificates</h4>
                                <a href="http://www.zend.com/en/yellow-pages#show-ClientCandidateID=ZEND019791"><img src="/static/img/zce.gif"/> </a>
                                <img src="/static/img/oca.gif"/>
                                <a href="http://education.mongodb.com/downloads/certificates/c86d5c34984645d59ee4722fc1ae8943/Certificate.pdf"><img src="/static/img/mongo.gif"/></a>
                            </p>

                        </div>
                    </div>
                    <!-- end of main form -->
                </div>
                <!-- end of well container -->
            </div>
        </div>
    </div>
{% endblock %}