    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-center">
                    2014 &copy 3D SandBox
                </p>
                <p class="text-center">
                  <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54_grey.gif" border="0" alt="Powered by Django." title="Powered by Django." class="django-logo" /></a>
                </p>
            </div>
        </div>
    </div>