<div class="container">
    <div class="navbar top-padding" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="centralize">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav sandbox-menu">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ru <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">En</a></li>
                            <li><a href="#">Az</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!-- end of centralize -->

      </div>
    </div>
</div>
      <div class="container">
          <div class="centralize">
          <a href="/signin"><img src="/static/img/logo1.png" width="350" class="img-responsive" /></a>
          </div>
            <a href="https://github.com/smitt/sandbox.git" class="githab-img"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
      </div>